<div class="course-background">
  <div class="course-container">
    <div class="score-card-container">
      <div class="score-card-header">
        <div class="course-img">
          <img src="{{ currentCourse?.thumbnail }}" alt="">
        </div>
        <div class="course-title">
          <h1>{{ currentCourse?.name }}</h1>
        </div>
        <div class="course-information">
          <div class="address">{{ currentCourse?.addr1 }} {{ currentCourse?.city }},
            {{ currentCourse?.stateOrProvince }}</div>
          <div class="phone">{{ currentCourse?.phone }}</div>
          <div class="website">
            <button mat-raised-button><a href="{{ currentCourse?.website }}" target="_blank">Visit Website</a></button>
          </div>
        </div>
      </div>
      <div class="score-card-content">
        <div class="score-card-top">
          <div class="set-information">
            <div>Holes</div>
            <div>Yards</div>
            <div>Par</div>
            <div>Handicap</div>
          </div>
          <div *ngFor="let hole of holes" class="columns">
            <div>{{ hole?.hole }}</div>
            <div>{{ hole?.teeBoxes[selectedTeeNumber].yards }}</div>
            <div>{{ hole?.teeBoxes[selectedTeeNumber].par }}</div>
            <div>{{ hole?.teeBoxes[selectedTeeNumber].hcp }}</div>
          </div>
          <div class="totals">
            <div>Total</div>
            <div>Out</div>
            <div>In</div>
          </div>
        </div>
        <div class="score-card-bottom">
          <div *ngFor="let player of playerCollection" class="players">
            <div>{{ player }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>