<div class="course-background">
  <div class="course-container">
    <div class="score-card-container">
      <div class="score-card-header">
        <div class="course-img">
          <img src="{{ currentCourse?.thumbnail }}" alt="">
        </div>
        <div class="course-title">
          <h1>{{ currentCourse?.name }}</h1>
        </div>
        <div class="course-information">
          <div class="address">{{ currentCourse?.addr1 }} {{ currentCourse?.city }},
            {{ currentCourse?.stateOrProvince }}</div>
          <div class="phone">{{ currentCourse?.phone }}</div>
          <div class="website">
            <button mat-raised-button><a href="{{ currentCourse?.website }}" target="_blank">Visit Website</a></button>
          </div>
        </div>
      </div>
      <div class="score-card-content">
        <div class="total-titles-container">
          <div class="score-card-title">
            <h2>{{ selectedTeeType + ' score card'}}</h2>
          </div>
          <div class="total-titles">
            <div>TOTAL</div>
            <div>OUT</div>
            <div>IN</div>
          </div>
        </div>
        <div class="score-card-top">
          <div class="set-information">
            <div>Holes</div>
            <div>Yards</div>
            <div>Par</div>
            <div>Handicap</div>
          </div>
          <div *ngFor="let hole of holes" class="columns">
            <div>{{ hole?.hole }}</div>
            <div>{{ hole?.teeBoxes[selectedTeeNumber].yards }}</div>
            <div>{{ hole?.teeBoxes[selectedTeeNumber].par }}</div>
            <div>{{ hole?.teeBoxes[selectedTeeNumber].hcp }}</div>
          </div>
          <div class="totals">
            <div class="total-col">
              <div>{{ totalHoles }}</div>
              <div>{{ totalYards }}</div>
              <div>{{ totalPars }}</div>
              <div>{{ totalHandicaps }}</div>
            </div>
          </div>
        </div>
        <div *ngFor="let player of playerCollection" class="score-card-bottom">
          <div class="players">
            <div (click)="clearField($event)" class="player">
              <input type="text" (change)="changeName($event, player.id)" [value]="player.name" />
            </div>
          </div>
          <div (click)="clearField($event)" *ngFor="let hole of player.holes" class="columns">
            <input type="text" (change)="setScoreTotal($event, player.id, hole.hole)" [value]="hole.score"/>
          </div>
          <div class="total">
            <div>{{ player.totalScore }}</div>
            <div>{{ player.outScore }}</div>
            <div>{{ player.inScore }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>