@import "../../../../styles/mixins";

.course-background {
  width: auto;
  background-position: center;
  background-size: auto;
  background-image: url("../../../../assets/images/courses/courses.jpg");
  .course-container {
    @include flex-jse-ac();
    margin: 70px 50px 0 50px;
    height: calc(100vh - 140px);
    width: calc(100% - 100px);
    .score-card-container {
      @include box-shadow();
      // height: 700px;
      width: 95%;
      background-color: #fff;
      border-radius: 4px;
      .score-card-header {
        @include flex-jc-ac();
        // height: 30%;
        height: 225px;
        .course-img {
          @include flex-jc-ac();
          height: 100%;
          width: 30%;
          background-color: #ff982e;
          border-radius: 4px 0 0 0;
          img {
            height: calc(100% - 20px);
            width: calc(100% - 20px);
            max-width: 340px;
            border-radius: 4px;
          }
        }
        .course-title {
          @include flex-jc-ac();
          height: calc(100% - 20px);
          width: 40%;
          border-top: 10px solid #ff982e;
          border-bottom: 10px solid #ff982e;
          // background-color: #d6d6d6;
          h1 {
            width: 100%;
            margin: 0;
            line-height: 50px;
            text-align: center;
            border-bottom: 4px solid #ff982e;
            border-top: 4px solid #ff982e;
            font-size: 40px;
            color: #ff982e;
          }
        }
        .course-information {
          @include flex-jse-ac-fdc();
          height: 100%;
          width: 30%;
          font-size: 16px;
          color: #fff;
          background-color: #ff982e;
          border-radius: 0 4px 0 0;
          .address {
            text-align: center;
          }
          .website {
            button {
              background-color: #fff;
              a {
                color: #ff982e;
                text-decoration: none;
              }
            }
          }
        }
      }
      .score-card-content {
        @include flex-jc-ac-fdc();
        justify-content: flex-start;
        // height: 70%;
        border: 4px solid #ff982e;
        border-radius: 0 0 4px 4px;
        .score-card-title {
          @include flex-jse-ac();
          width: 87%;
          text-align: center;
          color: #ff982e;
          h2 {
            margin: 0px;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 25px;
          }
        }
        .total-titles-container {
          @include flex-jc-ac();
          justify-content: flex-end;
          width: 100%;
          margin-top: 20px;
          .total-titles {
            @include flex-jse-ac();
            width: 13%;
            div {
              width: 30%;
              text-align: center;
              color: #ff982e;
            }
            div:nth-child(1) {
              width: 40%;
            }
          }
        }
        .score-card-top {
          @include flex-jc-ac();
          align-items: flex-start;
          // height: calc(100% - 40px);
          // width: calc(100% - 40px);
          height: 100%;
          width: 100%;
          padding-top: 20px;
          padding-bottom: 10px;
          // border: 2px solid #ff982e;
          // border-radius: 0 0 4px 4px;
          .set-information {
            width: 10%;
            text-align: center;
            div {
              @include flex-jc-ac();
              height: 25px;
              border: 2px solid #ff982e;
              border-radius: 4px;
              margin: 5px;
              background-color: #ff982e;
              color: #fff;
            }
          }
          .columns {
            width: 5%;
            text-align: center;
            div {
              @include flex-jc-ac();
              height: 25px;
              border: 2px solid #ff982e;
              border-radius: 4px;
              margin: 5px;
              color: #ff982e;
            }
          }
          .totals {
            width: 15%;
            .total-col {
              // @include flex-jc-ac();
              width: 40%;
              div {
                @include flex-jc-ac();
                height: 25px;
                text-align: center;
                border: 2px solid #ff982e;
                border-radius: 4px;
                margin: 5px;
                background-color: #ff982e;
                color: #fff;
              }
            }
          }
        }
        .score-card-bottom {
          @include flex-jc-ac();
          align-items: flex-start;
          height: 100%;
          width: 100%;
          padding-bottom: 20px;
          .players {
            width: 10%;
            text-align: center;
            .player {
              @include flex-jc-ac-fdc();
              margin: 5px;
              height: 35px;
              border: 2px solid #ff982e;
              border-radius: 4px;
              background-color: #ff982e;
              color: #fff;
              div {
                @include flex-jc-ac();
              }
            }
          }
          .columns {
            width: 5%;
            text-align: center;
            div {
              @include flex-jc-ac();
              height: 35px;
              border: 2px solid #ff982e;
              border-radius: 4px;
              margin: 5px;
              color: #ff982e;
            }
          }
          .total {
            display: flex;
            width: 15%;
            div {
              @include flex-jc-ac();
              height: 35px;
              width: 30%;
              text-align: center;
              border: 2px solid #ff982e;
              border-radius: 4px;
              margin: 5px;
              background-color: #ff982e;
              color: #fff;
            }
            div:nth-child(1) {
              width: 40%;
            }
          }
        }
      }
    }
  }
}
