@import '../../../../styles/mixins';

.courses-background {
  width: auto;
  background-position: center;
  background-size: auto;
  background-image: url('../../../../assets/images/courses/courses.jpg');
  .courses-container {
    @include flex-jse-ac();
    margin: 70px 50px 0 50px;
    height: calc(100vh - 140px);
    width: calc(100% - 100px);
    mat-card {
      // height: 216px;
      width: 250px;
      transition: transform .1s;
      mat-card-header {
        @include flex-jc-ac();
        width: 100%;
        color: #ff982e;
      }
        
      img {
        min-height: 200px;
        max-height: 200px;
        margin: 0 -16 0 -16;
      }
      mat-card-actions {
        height: 100%;
        padding: 10px;
        .address {
          text-align: center;
          font-size: 18px;
          color: #ff982e;
        }
        mat-form-field {
          @include flex-jc-ac();
          //margin-top: 20px;
        }
        .get-course {
          @include flex-jc-ac();
          width: 100%;
          button {
            margin: 20px 0 20px 0;
            background-color: #ff982e;
            color: #fff;
          }
        }
      }
    }
  }
}

img:hover {
  cursor: pointer;
}

mat-card:hover {
  transform: scale(1.01);
}

.mat-select-arrow {
  color: #ff982e;
}